TestCDNOperations/Service References/LuxBemkoService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="b2b_towary">
        <s:complexType />
      </s:element>
      <s:element name="b2b_towaryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b2b_towaryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="b2b_zamnag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gidnumer" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="b2b_zamnagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b2b_zamnagResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="b2b_zamelem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gidnumer" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="kndnumer" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="b2b_zamelemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b2b_zamelemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="b2b_nowyDokumentZam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="b2b_nowyDokumentZamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b2b_nowyDokumentZamResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="b2b_nowyAdres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="b2b_nowyAdresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b2b_nowyAdresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="b2b_stany">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="b2b_stanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b2b_stanyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="b2b_CenySpecjalne">
        <s:complexType />
      </s:element>
      <s:element name="b2b_CenySpecjalneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b2b_CenySpecjalneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="b2b_towarySoapIn">
    <wsdl:part name="parameters" element="tns:b2b_towary" />
  </wsdl:message>
  <wsdl:message name="b2b_towarySoapOut">
    <wsdl:part name="parameters" element="tns:b2b_towaryResponse" />
  </wsdl:message>
  <wsdl:message name="b2b_zamnagSoapIn">
    <wsdl:part name="parameters" element="tns:b2b_zamnag" />
  </wsdl:message>
  <wsdl:message name="b2b_zamnagSoapOut">
    <wsdl:part name="parameters" element="tns:b2b_zamnagResponse" />
  </wsdl:message>
  <wsdl:message name="b2b_zamelemSoapIn">
    <wsdl:part name="parameters" element="tns:b2b_zamelem" />
  </wsdl:message>
  <wsdl:message name="b2b_zamelemSoapOut">
    <wsdl:part name="parameters" element="tns:b2b_zamelemResponse" />
  </wsdl:message>
  <wsdl:message name="b2b_nowyDokumentZamSoapIn">
    <wsdl:part name="parameters" element="tns:b2b_nowyDokumentZam" />
  </wsdl:message>
  <wsdl:message name="b2b_nowyDokumentZamSoapOut">
    <wsdl:part name="parameters" element="tns:b2b_nowyDokumentZamResponse" />
  </wsdl:message>
  <wsdl:message name="b2b_nowyAdresSoapIn">
    <wsdl:part name="parameters" element="tns:b2b_nowyAdres" />
  </wsdl:message>
  <wsdl:message name="b2b_nowyAdresSoapOut">
    <wsdl:part name="parameters" element="tns:b2b_nowyAdresResponse" />
  </wsdl:message>
  <wsdl:message name="b2b_stanySoapIn">
    <wsdl:part name="parameters" element="tns:b2b_stany" />
  </wsdl:message>
  <wsdl:message name="b2b_stanySoapOut">
    <wsdl:part name="parameters" element="tns:b2b_stanyResponse" />
  </wsdl:message>
  <wsdl:message name="b2b_CenySpecjalneSoapIn">
    <wsdl:part name="parameters" element="tns:b2b_CenySpecjalne" />
  </wsdl:message>
  <wsdl:message name="b2b_CenySpecjalneSoapOut">
    <wsdl:part name="parameters" element="tns:b2b_CenySpecjalneResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="b2b_towary">
      <wsdl:input message="tns:b2b_towarySoapIn" />
      <wsdl:output message="tns:b2b_towarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="b2b_zamnag">
      <wsdl:input message="tns:b2b_zamnagSoapIn" />
      <wsdl:output message="tns:b2b_zamnagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="b2b_zamelem">
      <wsdl:input message="tns:b2b_zamelemSoapIn" />
      <wsdl:output message="tns:b2b_zamelemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="b2b_nowyDokumentZam">
      <wsdl:input message="tns:b2b_nowyDokumentZamSoapIn" />
      <wsdl:output message="tns:b2b_nowyDokumentZamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="b2b_nowyAdres">
      <wsdl:input message="tns:b2b_nowyAdresSoapIn" />
      <wsdl:output message="tns:b2b_nowyAdresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="b2b_stany">
      <wsdl:input message="tns:b2b_stanySoapIn" />
      <wsdl:output message="tns:b2b_stanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="b2b_CenySpecjalne">
      <wsdl:input message="tns:b2b_CenySpecjalneSoapIn" />
      <wsdl:output message="tns:b2b_CenySpecjalneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="b2b_towary">
      <soap:operation soapAction="http://tempuri.org/b2b_towary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="b2b_zamnag">
      <soap:operation soapAction="http://tempuri.org/b2b_zamnag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="b2b_zamelem">
      <soap:operation soapAction="http://tempuri.org/b2b_zamelem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="b2b_nowyDokumentZam">
      <soap:operation soapAction="http://tempuri.org/b2b_nowyDokumentZam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="b2b_nowyAdres">
      <soap:operation soapAction="http://tempuri.org/b2b_nowyAdres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="b2b_stany">
      <soap:operation soapAction="http://tempuri.org/b2b_stany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="b2b_CenySpecjalne">
      <soap:operation soapAction="http://tempuri.org/b2b_CenySpecjalne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="b2b_towary">
      <soap12:operation soapAction="http://tempuri.org/b2b_towary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="b2b_zamnag">
      <soap12:operation soapAction="http://tempuri.org/b2b_zamnag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="b2b_zamelem">
      <soap12:operation soapAction="http://tempuri.org/b2b_zamelem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="b2b_nowyDokumentZam">
      <soap12:operation soapAction="http://tempuri.org/b2b_nowyDokumentZam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="b2b_nowyAdres">
      <soap12:operation soapAction="http://tempuri.org/b2b_nowyAdres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="b2b_stany">
      <soap12:operation soapAction="http://tempuri.org/b2b_stany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="b2b_CenySpecjalne">
      <soap12:operation soapAction="http://tempuri.org/b2b_CenySpecjalne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:3453/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:3453/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>