BemkoStanyMagazynoweTest/Service References/ServiceReference2/BemkoStanyMagazynowe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="pobierzStanMagazynowyProducenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pytanie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pobierzStanMagazynowyProducentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pobierzStanMagazynowyProducentaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="pobierzStanMagazynowyProducentaSoapIn">
    <wsdl:part name="parameters" element="tns:pobierzStanMagazynowyProducenta" />
  </wsdl:message>
  <wsdl:message name="pobierzStanMagazynowyProducentaSoapOut">
    <wsdl:part name="parameters" element="tns:pobierzStanMagazynowyProducentaResponse" />
  </wsdl:message>
  <wsdl:portType name="BemkoStanyMagazynoweSoap">
    <wsdl:operation name="pobierzStanMagazynowyProducenta">
      <wsdl:input message="tns:pobierzStanMagazynowyProducentaSoapIn" />
      <wsdl:output message="tns:pobierzStanMagazynowyProducentaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BemkoStanyMagazynoweSoap" type="tns:BemkoStanyMagazynoweSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="pobierzStanMagazynowyProducenta">
      <soap:operation soapAction="http://tempuri.org/pobierzStanMagazynowyProducenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BemkoStanyMagazynoweSoap12" type="tns:BemkoStanyMagazynoweSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="pobierzStanMagazynowyProducenta">
      <soap12:operation soapAction="http://tempuri.org/pobierzStanMagazynowyProducenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BemkoStanyMagazynowe">
    <wsdl:port name="BemkoStanyMagazynoweSoap" binding="tns:BemkoStanyMagazynoweSoap">
      <soap:address location="http://localhost:59841/BemkoStanyMagazynowe.asmx" />
    </wsdl:port>
    <wsdl:port name="BemkoStanyMagazynoweSoap12" binding="tns:BemkoStanyMagazynoweSoap12">
      <soap12:address location="http://localhost:59841/BemkoStanyMagazynowe.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>